# Exploring the Dataset

In [15]:
import pandas as pd
import seaborn as sns

import os

In [16]:
df_paths = ['Data/pickles/full_data/{}'.format(file) for file in os.listdir('Data/pickles/full_data')]

df_paths = sorted(df_paths)

In [17]:
df = pd.concat([
    pd.read_pickle(df_paths[0]),
    pd.read_pickle(df_paths[1]),
    pd.read_pickle(df_paths[2]),
    pd.read_pickle(df_paths[3])],
axis=0)

df.head()

,accountNumber,accountOpenDate,acqCountry,availableMoney,cardCVV,cardLast4Digits,cardPresent,creditLimit,currentBalance,currentExpDate,...,merchantName,merchantState,merchantZip,posConditionCode,posEntryMode,posOnPremises,recurringAuthInd,transactionAmount,transactionDateTime,transactionType
0,737265056,2015-03-14,US,5000.0,414,1803,False,5000.0,0.0,06/2023,...,Uber,NaN,NaN,01,02,NaN,NaN,98.55,2016-08-13T14:27:32,PURCHASE
1,737265056,2015-03-14,US,5000.0,486,767,True,5000.0,0.0,02/2024,...,AMC #191138,NaN,NaN,01,09,NaN,NaN,74.51,2016-10-11T05:05:54,PURCHASE
2,737265056,2015-03-14,US,5000.0,486,767,False,5000.0,0.0,08/2025,...,Play Store,NaN,NaN,01,09,NaN,NaN,7.47,2016-11-08T09:18:39,PURCHASE
3,737265056,2015-03-14,US,5000.0,486,767,False,5000.0,0.0,08/2025,...,Play Store,NaN,NaN,01,09,NaN,NaN,7.47,2016-12-10T02:14:50,PURCHASE
4,830329091,2015-08-06,US,5000.0,885,3143,True,5000.0,0.0,10/2029,...,Tim Hortons #947751,NaN,NaN,01,02,NaN,NaN,71.18,2016-03-24T21:04:46,PURCHASE

In [10]:
"Dataset Dimensions: {}x{}".format(df.shape[0], df.shape[1])

'Dataset Dimensions: 786363x24'

## Checking for nans

In [18]:
df.isnull().sum()

accountNumber                    0
accountOpenDate                  0
acqCountry                    4562
availableMoney                   0
cardCVV                          0
cardLast4Digits                  0
cardPresent                      0
creditLimit                      0
currentBalance                   0
currentExpDate                   0
customerId                       0
dateOfLastAddressChange          0
echoBuffer                  786363
enteredCVV                       0
expirationDateKeyInMatch         0
isFraud                          0
merchantCategoryCode             0
merchantCity                786363
merchantCountryCode            724
merchantName                     0
merchantState               786363
merchantZip                 786363
posConditionCode               409
posEntryMode                  4054
posOnPremises               786363
recurringAuthInd            786363
transactionAmount                0
transactionDateTime              0
transactionType                698
dtype: int64

One can only hope for clean data...

Considering our shape dimensions, I can pretty muh remove merchantCity, merchantState, merchantZip, posOnPremises, and recurringAuthInd right off the bat since they are too many missing values to do anything else while remaining accurate.
I will also remove any ID related columns because they have no use.

I want to keep cardCVV and enteredCVV just in case at the moment as I'm curious to see how many of them differ from each other.

In [19]:
df.drop(['merchantCity', 'merchantState', 'merchantZip', 'posOnPremises', 'recurringAuthInd'], axis=1, inplace=True)

df.isnull().sum()

df = df.reset_index(drop=True)

df

,accountNumber,accountOpenDate,acqCountry,availableMoney,cardCVV,cardLast4Digits,cardPresent,creditLimit,currentBalance,currentExpDate,...,expirationDateKeyInMatch,isFraud,merchantCategoryCode,merchantCountryCode,merchantName,posConditionCode,posEntryMode,transactionAmount,transactionDateTime,transactionType
0,737265056,2015-03-14,US,5000.00,414,1803,False,5000.0,0.00,06/2023,...,False,False,rideshare,US,Uber,01,02,98.55,2016-08-13T14:27:32,PURCHASE
1,737265056,2015-03-14,US,5000.00,486,767,True,5000.0,0.00,02/2024,...,False,False,entertainment,US,AMC #191138,01,09,74.51,2016-10-11T05:05:54,PURCHASE
2,737265056,2015-03-14,US,5000.00,486,767,False,5000.0,0.00,08/2025,...,False,False,mobileapps,US,Play Store,01,09,7.47,2016-11-08T09:18:39,PURCHASE
3,737265056,2015-03-14,US,5000.00,486,767,False,5000.0,0.00,08/2025,...,False,False,mobileapps,US,Play Store,01,09,7.47,2016-12-10T02:14:50,PURCHASE
4,830329091,2015-08-06,US,5000.00,885,3143,True,5000.0,0.00,10/2029,...,False,False,fastfood,US,Tim Hortons #947751,01,02,71.18,2016-03-24T21:04:46,PURCHASE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
786358,732852505,2012-08-23,US,48904.96,936,3783,False,50000.0,1095.04,12/2022,...,False,False,rideshare,US,Lyft,01,90,119.92,2016-12-22T18:44:12,PURCHASE
786359,732852505,2012-08-23,US,48785.04,939,3388,False,50000.0,1214.96,08/2023,...,False,False,online_subscriptions,US,hulu.com,01,09,18.89,2016-12-25T16:20:34,PURCHASE
786360,732852505,2012-08-23,US,48766.15,936,3783,False,50000.0,1233.85,08/2025,...,False,False,rideshare,US,Lyft,01,02,49.43,2016-12-27T15:46:24,PURCHASE
786361,732852505,2012-08-23,US,48716.72,939,3388,False,50000.0,1283.28,07/2022,...,False,False,online_retail,US,walmart.com,99,09,49.89,2016-12-29T00:30:55,PURCHASE
786362,732852505,2012-08-23,US,48666.83,939,3388,False,50000.0,1333.17,05/2024,...,False,False,rideshare,US,Uber,01,05,72.18,2016-12-30T20:10:29,PURCHASE

In [20]:
# Since I'll be constantly modifying data as a explore the values,
# I'll keep a separate pickle used to represent the current state of the data

df_half = df[df.columns[:df.shape[1] // 2]]
df_other_half = df[df.columns[df.shape[1] // 2:]]

# Splitting it up so I can use the pickles and commit to git

pd.to_pickle(df_half, 'Data/pickles/clean_data/clean_data_half_1', protocol=4)
pd.to_pickle(df_other_half, 'Data/pickles/clean_data/clean_data_half_2', protocol=4)